.home {
    overflow-x: hidden;
    position: relative;
    left: -1%;
    width: 101.55%;
    padding: 20px;
    font-family: "Outfit", sans-serif;
    background-color: #1d1d1d;
    color: #ffffff;
    box-sizing: border-box;
    
}

.home-heading-1 {
    text-align: center;
}

.youtube-block {
    background-color: #745f00;
}