.solution-block {
    display: flex;
    flex-direction: column;
    padding: 10px 15px 15px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    border-color: gray;
    background-color: #282c34;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.solution-link {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;
}

.solution-link:hover {
    text-decoration: underline;
}

.solution-content {
    text-align: left;
}