.youtube-superblock {
    position: relative;
    top: 0%;
    left: -1%;
    width: 101.55%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: "Outfit", sans-serif;
    background-color: black;
    color: white;
}

.youtube-list-item {
    list-style-type: none;
    text-decoration: none;
    transform: translateX(-1.5%);
}

.youtube-block-container {
    padding-top: 20px;
    padding-bottom: 30px;
}

.youtube-button {
    color: #b7adff;
    border: none;
    cursor: pointer;
}